.breadcrumbs-container{
  height: 45px;
  z-index: 88;
  position: fixed;
  width: 100%;
  top: 79px;
  background-color: #F5F5F5;

  .breadcrumb {
    padding: 0px;
    margin-top: 12px;
    list-style: none;
    border-radius: 4px;
    margin-bottom: 12px;
  }

  .breadcrumb>li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
  }

  .breadcrumb>li+li:before {
    padding:0 0px 0 5px;
    color: #ccc;
    content: "\0203A";
  }

  .breadcrumb>.active {
    color: #777;
  }
}
