@import '../../styles/general';

footer, .main-wrapper:after {
  height: $footerHeight;
}
footer{
  display: table;
  width: 100%;
  border-top: solid 1px #EEE;
  color: #999;
  font-size: 0.8rem;
  text-align: center;

  p{
    display:table-cell;
    vertical-align: middle;
    margin:0 auto;
  }
}

footer.page-footer .footer-copyright {
  font-weight: 300;
}