@import '../../styles/general';
.a-nav{
  list-style-type: none;
  margin:0px;
  padding:0px;
  position: relative;

  &.a-nav--section{
    border-bottom:solid 1px #0062B4;

    &>li{
      font-size: $mdFont;
      display:inline-block;
      list-style-type: none;
      margin:0px;
      padding:0px;
      margin-right: 30px;

      &>a:link:not(.a-btn--border){
        color:#FFF;
        opacity: 0.6;
        display: block;
        padding-bottom: 15px;
        padding-top: 15px;

        &:hover{
          opacity: 1;
        }
      }

      &.right{
        margin-top: 15px;
      }

      ul{
        position: absolute;
        background-color: rgba(255,255,255,.9);
        @include border_radius(10px);
        padding: 10px 20px;
        left: 0px;
        right: 0px;
        top: 100%;
        display:none;

        li{
          font-size: $smFont;

          a:link{
            opacity: 1;
            color:#005FAB;

            &:hover{
              opacity: 0.6;
            }
          }
        }
      }

      &:hover{
        ul{
          display:block;
        }
      }
    }
  }
}